.search-engine{
    display:flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    margin-top:10px;
    margin-bottom: 30px;

}
.search-engine input{
    width:70%;
    height:45px;
    border:1px solid;
    border-radius: 8px;
    padding:2px 15px;
    font-size: 16px;
    outline:none;
    background-color: #ffffff;
    color:#555555;

}
.search-engine button{
    background-color:#000000;
    color:#fff;
    font-size:20px;
    padding:13px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.app{
    width:90%;
    text-align: center;
    margin:50px auto 0px;
    max-width: 700px;
    border-radius: 20px;
    height: 470px;
    background: url("./assets/image1.jpg") no-repeat center/cover;
    padding:20px 15px;
}
.city-name{
    margin-bottom:10px;
}
.loading{
    font-size: 60px;
    font-weight: bolder;
    color:#000;
}
.date{
    font-size:18px ;
    font-weight: 500;
    font-style: italic;
}
.temp{
  font-size: 64px;
  padding:20px 0px;
  font-weight: bold;
  text-align: center;
  color:#000;
  
}
.description{
    font-size: 22px;
    font-weight: 500;
    color:#000000;
    margin-top:0px;
    margin-bottom:10px;
}
.weather-info{
    display:flex;
    justify-content: space-evenly;
    align-items:center ;
    font-size: 20px;
    margin-top: 20px;
    padding:0px 20px;
    font-weight: bold;
    text-align: center;
}
.column{
    display: flex;
    align-items: center;
    line-height: 4px;
}